::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Optional: just make scrollbar invisible */
}

.video-react-button {
  display: none !important;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

/* video-react-button video-react-big-play-button video-react-big-play-button-left */
/* html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */
